/*
font-family: 'Open Sans', sans-serif;
font-family: 'Asar', serif;
font-family: 'UnifrakturCook', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Eagle Lake', cursive;
font-family: 'Shadows Into Light', cursive;
*/
/*
GERAL
*/
#btn{
  display: none;
}

#menum{
  display: none;
}
body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #4d4d4d;
}

h1, h2, h3 {
    margin: 0;
    font-family: "UnifrakturCook",cursive, Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.botao {
    color: #f1f1f1;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #8f3faf;
    font-size: .9em;
    border-radius: 3px;
}

/*
NAVEGAÇÃO
*/


nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-around;
    background-color: #4d4d4d;
}

nav > a {

    -webkit-animation-duration: 4s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    text-decoration: none;
    color: #f1f1f1;
    font-weight: 700;
    font-size: 28px;
    font-family: 'UnifrakturCook', cursive;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction:row;
    width: 70%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #f1f1f1;
}


/*
CABEÇALHO
*/

header {
    background-image: url('../img/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 600px;
    height: 60vh;
    justify-content: center;
}

header p {
    margin-bottom: 2em;
}

/*
BOTOES
*/

#botoes {
    height: 250px;
    height: 30vh;
    justify-content: center;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px 20px;
    background-color: #8f3faf;
    color: #f1f1f1;
}

#botoes p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#botoes .botao {
    background-color: #f1f1f1;
    color: #4d4d4d;
}

/*
SERVIÇOS
*/

#servicos {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;

    align-items: center;
}

#servicos h2 {
    text-align: center;
    width: 100%;
}

#servicos div {

    flex-grow: 1;
    flex-basis: 150px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

#servicos div > img {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
}

/*
PORTFOLIO
*/

#portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    align-items:center;
    padding-top: 20px;
}

#portfolio h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#portfolio img {
    width:33.3333%;
}

/*
CONTATO
*/

#contato h2,
#contato p {
    width: 100%;
}

#contato {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
}


/*
FOOTER
*/

footer {
    text-align: center;
    padding: 10px;
    background-color: #4d4d4d;
    color: #f1f1f1;
}
