
#menum{
  display: flex;
  color: #efefef;
  font-size: 28px;
  /*padding: 5px 10px;*/
  width: 100%;
  background-color: #000000;
}
#btn{
  display: none;
  width: 0%;
}

#btn:checked ~ .menu ul{
  display: flex;
  margin: 0;
  transition: all .6s;
  /*position:absolute;*/
}


body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #4d4d4d;
    /*width: 100%;*/
}

h1, h2, h3 {
    margin: 0;
    font-family: "UnifrakturCook",cursive, Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.botao {
    color: #f1f1f1;
    text-decoration: none;
    padding: 10px;
    background-color: #8f3faf;
    font-size: .9em;
    border-radius: 3px;
}

/*
NAVEGAÇÃO
*/

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4d4d4d;
}

nav > a {
  display: none;
  /*-webkit-animation-duration: 4s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
    text-decoration: none;
    color: #f1f1f1;
    font-weight: 700;
    font-size: 28px;
    font-family: 'UnifrakturCook', cursive;*/
}

nav ul {
    list-style: none;
    padding: 0;
    display:none;
    flex-direction: column;
    width: 100%;
    /*margin-left: 100%;*/
    /*position: absolute;*/
    border-top: 1px solid #efefef;
}

nav ul li {
    text-align: center;
    width: 100%;
    border-top: 1px solid #efefef;
}

nav ul li a {
    display: block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #f1f1f1;
}

.menu ul li:hover{
  background-color: #f1f1f1;

}

.menu ul li a:hover{
  color:black;
  font-weight: 900;
}


/*
CABEÇALHO
*/

header {
    background-image: url('../img/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

header p {
    margin-bottom: 2em;
}

/*
BOTOES
*/

#botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px 20px;
    background-color: #8f3faf;
    color: #f1f1f1;
}

#botoes p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#botoes .botao {
    background-color: #f1f1f1;
    color: #4d4d4d;
}

/*
SERVIÇOS
*/

#servicos {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#servicos div {

    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

/*#servicos div > img {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
}*/

/*
PORTFOLIO
*/

#portfolio {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top: 20px;
}

#portfolio h2 {
    margin-bottom: 20px;
}

#portfolio img {
    width: 100%;
}

/*
CONTATO
*/

#contato {
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    padding: 20px;
}


/*
FOOTER
*/

footer {
    text-align: center;
    padding: 10px;
    background-color: #4d4d4d;
    color: #f1f1f1;
}
